*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

body{
  background:#f5f7fb;
  color:#111827;
}

/* HEADER */
.header{
  background:linear-gradient(to right,#1e3c72,#2a5298);
  color:white;
  padding:20px;
}

.nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo span{
  color:#93c5fd;
}

.back{
  color:white;
  text-decoration:none;
}

/* HERO */
.hero{
  text-align:center;
  padding:60px 20px;
}

.hero h1{
  font-size:32px;
  max-width:600px;
  margin:auto;
}

.hero p{
  margin-top:15px;
  color:#dbeafe;
}

/* STORY */
.story{
  padding:60px 20px;
  max-width:800px;
  margin:auto;
  text-align:center;
}

.story p{
  margin-top:15px;
  color:#374151;
}

/* MISSION */
.mission{
  display:flex;
  justify-content:center;
  gap:20px;
  padding:50px 20px;
  flex-wrap:wrap;
}

.box{
  background:white;
  padding:20px;
  width:250px;
  border-radius:10px;
  box-shadow:0 5px 20px rgba(0,0,0,0.05);
  text-align:center;
  transition: all 0.3s ease;
}
.box:hover{
  transform: translateY(-7px);
}

/* WHY */
.why{
  text-align:center;
  padding:60px 20px;
}

.why-grid{
  display:flex;
  gap:20px;
  justify-content:center;
  flex-wrap:wrap;
  margin-top:30px;
}

.card{
  background:white;
  padding:20px;
  width:250px;
  border-radius:10px;
  box-shadow:0 5px 20px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
}
.card:hover{
  transform: translateY(-7px);
}

/* CTA */
.cta{
  background:#eff6ff;
  text-align:center;
  padding:50px 20px;
}

.cta button{
  margin-top:15px;
  background:#2563eb;
  color:white;
  border:none;
  padding:12px 20px;
  border-radius:6px;
  cursor:pointer;
  transition: all 0.3s ease-in-out;
}
.cta button:hover{
  transform: scale(1.7px);
    background: linear-gradient(to right, #1e3c72, #2a5298);

}

/* FOOTER */
.footer{
  background:#0f172a;
  color:white;
  text-align:center;
  padding:20px;
}

/* RESPONSIVE */
@media(max-width:768px){
  .mission{
    flex-direction:column;
    align-items:center;
  }

  .why-grid{
    flex-direction:column;
    align-items:center;
  }
}